<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.GreenDao">
    <select id="queryAll" resultType="Green">
        select id,name from cu_green
    </select>
    <insert id="add">
        insert into cu_green values(null,#{name})
    </insert>

</mapper>